{{ define "main" }}
  <div id="home">
    <div class="left">
      <img src="me.webp" alt="A photo of Patrick McSweeny" class="portrait">
    </div>
    <div class="right">
      <p>I am a software engineer located in Ann Arbor, Michigan. You can learn more about me <a href="/about">here</a>, or by checking out the links below:</p>
      <section id='links'>
        <h2>Links</h2>
        <ul>
          <li><a href='PatrickMcSweeny.pdf' title='Downloadable Resume' class='print'>Downloadable Resume</a></li>
          <li><a href='https://github.com/PatrickMcSweeny/' title='GitHub profile' target='_blank'>GitHub</a></li>
          <li><a href='http://www.linkedin.com/in/PatrickMcSweeny' title='LinkedIn profile' target='_blank'>LinkedIn</a></li>
          <li><a href='https://exercism.io/profiles/PatrickMcSweeny' title="Exercism profile" target='_blank'>Exercism</a></li>
        </ul>
      </section>
    </div>
  </div>
{{ end }}
