body{
  background: #1F3B4D;
  font:1em 'Droid Sans',sans-serif;  
  color: #000;
}
  
main {
  max-width:50em;
  padding:1em 3em 1.5em;
  margin:0 auto;
  line-height:1.45em;
  font:1em 'Droid Sans',sans-serif;
  min-height:80dvh;
  background:#fff;
}

#home{
  display: grid;
  grid-template-columns: 220px 1fr;
}

#home img{
  max-width: 200px;
}


header {
  margin:0 auto;
  max-width:56em;
  background: #fff;
  padding-top: .5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header h1{
  margin: 0 1em;
  font-size: 1.75em;
}

h1, h2{
  color: #4B2E2B;
  font-family:'Droid Serif',sans-serif;
}

p {
}

footer {
  padding: 1em 3em;
  margin: 0 auto;
  max-width:50em;
  color: #4B2E2B;
  text-align: center;
  background: #fff;
}

a {
  color: #8C5A3C;
  text-decoration: none;
}

nav{
  font-size: .9em;
  text-transform: lowercase;
  text-align: right;
}

nav ul{
  font-size: 1.3em;
  margin: 0;
  padding-right: 1em;
}

nav li{
  display: inline-block;
  margin: none;
  margin: 0 .25em;
}

main ul{
  list-style:square;
  padding-left:1.2em;
}

main a:hover{
  text-decoration: underline;
}

@media (max-width: 800px) {
  #home{
    display: block;
  }

  #home .left{
    text-align: center;
  }

  main{
    padding: 1em;
  }

  header h1{
    text-align: center;
  }

  header{
    display: block;
  }

  nav{
    text-align: center;
  }
}
