body{
  background: #FFF8F0;
  font:1em 'Droid Sans',sans-serif;  
  color: #000;
}
  
main {
  max-width:50em;
  padding:1em 3em 1.5em;
  margin:0 auto;
  line-height:1.45em;
  font:1em 'Droid Sans',sans-serif;
  min-height:90vh;
  background:#fff;
  border-top: 1px solid #C08552;
  border-radius: 0 0 .5em .5em;
}


header {
  margin:0 auto;
  max-width:56em;
  background: #fff;
  padding-top: 1em;
  border-radius: .5em .5em 0 0;
}

header h1{
  margin: .5em 1em;
}

h1, h2{
  color: #4B2E2B;
  font-family:'Droid Serif',sans-serif;
}

p {
}

footer {
  margin: 1em auto;
  max-width:50em;
  color: #4B2E2B;
  text-align: center;
}

a {
  color: #8C5A3C;
  text-decoration: none;
}

nav ul{
  font-size: 1.3em;
  margin: 0;
  text-transform: uppercase;
}

nav a{
  display: inline-block;
  padding: .4em .5em;
  border-radius: .25em;
}

nav li{
  display: inline-block;
  margin: none;
}

nav a:hover{
  background: #8C5A3C;
  color: #fff;
}

main ul{
  list-style:square;
  padding-left:1.2em
}

main a:hover{
  text-decoration: underline;
}
